.marcas-container{
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    gap: 30px;
    
}

span{
    text-align: center;
    
}

span img {
   width: 40px;
   height: 40px;
}

span a{
    display: block;
    color: rgb(0, 103,184);
    font-weight: 600;
    font-size: 17px;
   
}